{% extends "pages/abstract/dashboard.html.twig" %}

{% set page_active = "home" %}
{% block stylesheets_page_group %}
    <!-- Page-group-specific CSS asset bundle -->
    {{ parent() }}
    {#{{ assets.css('css/content/styles') | raw }} #}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{% endblock %}

{% block page_description %}{% endblock %}

{% block body_matter %}
    <div class='rs-outerdiv row'>
        <div class="col-md-3 text-center">
            <img class="hidden-xs img-rounded  img-responsive" 
            src="{{assets.url('assets://regsevak/images/gurudev-standing01.jpg')}}" alt="Gurudev">
            <img class="visible-xs img-rounded img-responsive" 
            src="{{assets.url('assets://regsevak/images/gurudev-mission05.jpg')}}" alt="Gurudev">

        </div>
        <div class="col-md-9">
            <h1 class="page-header">
                {{site.title}}
            </h1>
            <div class="row">
                <div class="col-md-6">
                {% if checkAuthenticated() %}
                    {% include 'pages/site/loggedin-block.html.twig' %}
                {% else %}
                    {#{% include 'pages/site/nonlogin-block.html.twig' %}#}
                    {% include 'pages/partials/quick-sign-in.html.twig' %}

                {% endif %}
            <!-- /.row -->
                </div>
                <div class="col-md-6">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class='text-center'>Our Vision</h4>
                        </div>
                        <div class="panel-body">
                            <p class='text-center'>
                                The inner transformation of individuals through knowledge of Vedanta, 
                                spiritual practices, and service to society, resulting in a 
                                happy world around them.
                            </p>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class='text-center'>Our Mission</h4>
                        </div>
                        <div class="panel-body">
                            <p class='text-center'>
                                To provide to individuals from any background, the wisdom of 
                                Vedanta and the practical means for spiritual growth and happiness, 
                                enabling them to become positive contributors to society.
                            </p>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class='text-center'>Chinmaya Mission Pledge</h4>
                        </div>
                        <div class="panel-body">
                            <p class='text-center'>
                                We stand as one family </br>
                                bound to each other with love and respect.</br>
                                We serve as an army,</br>
                                courageous and disciplined,</br>
                                ever ready to fight against</br>
                                all low tendencies and false values</br>
                                within and without us.</br>
                                We live honestly</br>
                                the noble life of sacrifice and service</br>
                                producing more than what we consume</br>
                                and giving more than what we take.</br>
                                We seek the Lord’s grace 
                                to keep us on the path of virtue, courage and wisdom.</br>
                                May Thy grace and blessings flow through us</br>
                                to the world around us.</br>
                                We believe that the service of our country</br> 
                                is the service of the Lord of Lords,</br> 
                                and devotion to the people</br> 
                                is the devotion to the supreme Self.</br>
                                We know our responsibilities;</br> 
                                give us the ability and courage to fulfill them.</br>
                                OM TAT SAT
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
        {% include "pages/partials/page.js.twig" %}
    </script>

    <script>
    site = $.extend(
        true,               // deep extend
        {
            "registration" : {
                "enabled" : "{{site.registration.enabled}}"
            }
        },
        site
    );
    </script>

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/sign-in') | raw }}
{% endblock %}
